.ui.menu .header.item > img.logo {
    margin-right: 12px;
}
.ui {
    font-family:Verdana, Arial, sans-serif;
    border:1px solid #ccc;
    background: #eee;
    padding: 20px;
    .header {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
}
.intro {
  margin-top: 10em; 
  font-size: 1.2em;
  line-height: 1.5;
}
